<div *ngIf="regionList.length > 0">
  <button mat-icon-button color="primary" matTooltip="{{ 'Add new region' | translate }}">
    <mat-icon>library_add</mat-icon>
  </button>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id" style="visibility: hidden;">
      <th [style.display]="'none'" mat-header-cell *matHeaderCellDef>{{ 'id' | translate }}</th>
      <td [style.display]="'none'" mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="regionName">
      <th mat-header-cell *matHeaderCellDef>{{ 'Name' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.regionName }}</td>
    </ng-container>

    <ng-container matColumnDef="differenceInHoursTime">
      <th mat-header-cell *matHeaderCellDef>{{ 'Difference' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.differenceInHoursTime }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let row">
        <button (click)="edit(row)" mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="primary">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="warn">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<div class="region-container" *ngIf="initialLoading">
  <mat-spinner class="loading-icon" *ngIf="initialLoading"></mat-spinner>
</div>
