
<div mat-dialog-content>
      <form [formGroup]="postForm" novalidate>
      <div class="inputs">
        <mat-form-field>
          <input 
          matInput
          formControlName="title"
          autocomplete="title"
          [placeholder]="'Title' | translate"
          required>
        </mat-form-field>
      
        <mat-form-field >
          <textarea style="width: 100%;" matInput
          formControlName="text"
          autocomplete="content"
          [placeholder]="'Content' | translate"
          required>></textarea>
        </mat-form-field>
      
        <input
        accept="image/*"
        type="file"
        id="image"
        autocomplete="imageBase64"
        [placeholder]="'Content image' | translate"
        (change)="onFileSelected($event)"
      />
      </div>
    </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onNoClick()">No Thanks</button>
  <button mat-raised-button color="primary" (click)="accept()" cdkFocusInitial>Ok</button>
</div>